<div class="container">
  {{> nav-partial}}
      <div class="container">
        <div class="row">
          <div class="justify-content-center w-75 mx-auto">
              <h2 class="">Profile</h2>
              <p><b>Name:</b>&nbsp;{{name}}</p>
              <p><b>Surname:</b>&nbsp;{{surname}}</p>
              <p><b>Birth:</b>&nbsp;{{birth}}</p>
              <p><b>Address:</b>&nbsp;{{address}}</p>
              <p><b>Email:</b>&nbsp;{{email}}</p>
              <hr>
              <h2 class="">Order list</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Number</th>
                    <th scope="col">Total</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if orders}}
                  {{#each orders}}
                  {{> profile-partial}}
                  {{/each}}
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </main>
    {{> footer-partial}}
  </div>